<ion-view title="Web" hide-back-button="true">
  
  <ion-content>
   
<!-- Facebook Like Script injection -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

    
                // async init once loading is done
                window.fbAsyncInit = function() {
                  FB.init({appId: 666313600130437, status: false});

                };

</script>
<!-- End FB inject -->



<div class="wrapper webview">

  <header>
    <a class="menu-icon">
      <span></span>
    </a>
    <nav class="menu visuallyhidden">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">e-Postcards</a></li>
        <li><a href="#">Supporters</a></li>
        <li><a href="#">Newsletter</a></li>
      </ul>
    </nav>
  </header>

  <section id="home" class="row" style="" data-100="min-height:1409px;" data-900="min-height:969px;">
    <div class="overlay">
      <div class="col home-title" style="margin-top:-100px;">
        <img src="images/hero_mast.png" />
        <h1 style="margin-top:-100px;">A holiday celebrating the fraternal spirit of awesome pals!</h1>
        <hr />
        <section id="demo">
  <article class="slide">
    <h2>
    

    <p>With the quickening pace of modern society and the competing demands of family and work, men everywhere are organizing fewer poker nights, skipping midweek happy hours, and failing to watch important sporting events with their friends and neighbors.</p><br />

 <p>Aren't the sacred bonds of friendships just as important as romantic love? Don't men deserve one day a year that we can shirk all responsibilities and sneak away with our pals to go fishing, eat our collective weight in pizza while pwning n00bs on xbox live, or test the ballpark's limits of 'disorderly conduct' at a double-header?</p><br />

<p>We think we do. And if you agree, we invite you to sign the petition and join the movement to officially recognize August 14th as Palentine’s Day.</p>

</h2>
  </article>

</section>
        <a href="https://petitions.whitehouse.gov/petition/officially-recognize-august-14th-holiday-palentine%E2%80%99s-day-national-holiday/HXhwXKPT"
           onClick="trackOutboundLink(this, 'OutboundClick', 'DesktopView'); return false;" class="but"
           style="margin-top:20px;">Sign the Petition</a>
      </div>
    </div>
  </section>
  <section id="about" class="row">

    

    <div class="page about-content">
      <div class="col about-title">
        <h3 data-100="-webkit-transform: translateX(100px); opacity:0;" data-500="-webkit-transform: translateX(0px); opacity:1;" class="skrollable skrollable-after" style="-webkit-transform: translateX(0px); opacity: 1;">Be a pal! Send some guy-love to your wolfpack.</h3>
      </div>
      <div class="col about-description">
        <p style="margin-top:-20px;" data-100="opacity:0;" data-500="opacity:1;" class="skrollable skrollable-after" style="opacity: 1;">Palentine’s Day is dedicated to men who understand the true significance of chilling out, maxing, and relaxing all cool with the dudes. Give your buddies a virtual bro-hug with one of these odes to great palsmanship.</p>

      </div>
    </div>
  </section>
  <section id="work" class="row">

    <div class="work-examples page">
      <div class="col work-item skrollable skrollable-after" data-560="opacity:0;" data-660="opacity:1;" style="opacity: 1;">
        <img src="images/cards/brosomewhere.png" alt="">
        <div class="work-item-inside">
          <div class="work-item-inside-content" style="margin-top: 74px;">
            <h4>Palentine's Day</h4>
            
            
                
                <a href="#" onclick="gogogo()" class="but2">Send Postcard Now</a>
                
                
              
          </div>
        </div>
      </div>
      <div class="col work-item skrollable skrollable-after" data-580="opacity:0;" data-680="opacity:1;" style="opacity: 1;">
        <img src="images/cards/lanparty.jpg" alt="">
        <div class="work-item-inside">
          <div class="work-item-inside-content" style="margin-top: 74px;">
            <h4>Palentine's Day</h4>
           
                <a href="#" onclick="gogogo1()" class="but2">Send Postcard Now</a>
                
          </div>
        </div>
      </div>
      <div class="col work-item skrollable skrollable-after" data-600="opacity:0;" data-700="opacity:1;" style="opacity: 1;">
        <img src="images/cards/dyno.jpg" alt="">
        <div class="work-item-inside">
          <div class="work-item-inside-content" style="margin-top: 74px;">
            <h4>Palentine's Day</h4>
            
                <a href="#" onclick="gogogo2()" class="but2">Send Postcard Now</a>
                
          </div>
        </div>
      </div>
      <div class="col work-item skrollable skrollable-after" data-820="opacity:0;" data-920="opacity:1;" style="opacity: 1;">
        <img src="images/cards/norton.jpg" alt="">
        <div class="work-item-inside">
          <div class="work-item-inside-content" style="margin-top: 74px;">
            <h4>Palentine's Day</h4>
            
                <a href="#" onclick="gogogo3()" class="but2">Send Postcard Now</a>
                
          </div>
        </div>
      </div>
      <div class="col work-item skrollable skrollable-after" data-940="opacity:0;" data-1040="opacity:1;" style="opacity: 1;">
        <img src="images/cards/tattoo.jpg" alt="">
        <div class="work-item-inside">
          <div class="work-item-inside-content" style="margin-top: 74px;">
            <h4>Palentine's Day</h4>
            
                <a href="#" onclick="gogogo4()" class="but2">Send Postcard Now</a>
                
          </div>
        </div>
      </div>
      <div class="col work-item skrollable skrollable-after" data-980="opacity:0;" data-1080="opacity:1;" style="opacity: 1;">
        <img src="images/cards/tandem.jpg" alt="">
        <div class="work-item-inside">
          <div class="work-item-inside-content" style="margin-top: 74px;">
            <h4>Palentine's Day</h4>
            
                <a href="#" onclick="gogogo5()" class="but2">Send Postcard Now</a>
                
          </div>
        </div>
      </div>
    </div>
    <div style="width:80% !important;">
      <div class="fb-like-box" data-href="http://www.facebook.com/palentinesday" data-width="9999" data-height="185"
           data-show-faces="true" data-stream="false" data-border-color="#fff !important    " data-header="false">&nbsp;</div>
    </div>
  </section>
  <section id="home2" class="row" style="height: 575px;">

    <div class="jokes page">
        <div class="sticker" data-1180="opacity:0;" data-1280="opacity:1;" style="opacity: 1;"><img src="images/pals_sticker.png" /></div>
        <div data-1340="opacity:0;" data-1540="opacity:1;">
        <a href="twitter.com/#wethepals">#WeThePals</a> <a href="twitter.com/#BeMyPalentine">#BeMyPalentine</a>
        <br /><br />
      <img src="images/pals_beer.png" width="80%;" /><br /><br />
      <h1>
        Drink 57 Bottles of Beer with your Best Pals
      </h1>
  </div>
    </div>
  </section>


  <!-- section id="pals" class="row">
    <div class="page">
      <div class="col">
        <img src="images/pals.png" style="width:50%;text-align:center;" />
        <p>Despite the continuous snubbing by whatever Hallmark-lobbied government agency handles holiday observances, Palentine’s Day has been celebrated for centuries. Any history book will reveal clear as day that the Founding Fathers spent their Constitutional Convention recesses tossing around the pigskin, throwing down some Sam Adams’ homebrews, and getting turnt up all over Philadelphia.</p>


      </div>

    </div>
  </section>

  <section id="pals" class="row">
    <div class="page">
      <div class="col">

        <div class="work-examples page" style="margin-top:160px;">
          <div class="col work-item skrollable skrollable-after" data-560="opacity:0;" data-660="opacity:1;" style="opacity: 1;">
            <img src="images/pic.jpg" alt="">

          </div>
          <div class="col work-item skrollable skrollable-after" data-580="opacity:0;" data-680="opacity:1;" style="opacity: 1;">
            <img src="images/pic.jpg" alt="">

          </div>
          <div class="col work-item skrollable skrollable-after" data-600="opacity:0;" data-700="opacity:1;" style="opacity: 1;">
            <img src="images/pic.jpg" alt="">

          </div>

        </div>
        <a href="@" target="_blank" class="but3" style="margin-top:0px;">Sign the Petition</a>
      </div>

    </div>
  </section -->

  <footer id="footer" class="row">
    <div class="footer-content page">
      <div class="col f1">
        <p>© 2014 Palentines Day Movement. Made with love and a lot of transitions.</p>
      </div>
    </div>
  </footer>

</div>

<div class="loader" style="display: none;"></div>


<script>
  // Wait a tick before firing Readmore on the #info block to give Prettify time to finish painting.
  setTimeout(function() {
    $('article').readmore({
      maxHeight: 100
    });
  
    $('#info').readmore({
      moreLink: '<a href="#">More examples and options</a>',
      maxHeight: 390,
      afterToggle: function(trigger, element, expanded) {
        if(! expanded) { // The "Close" link was clicked
          $('html, body').animate( { scrollTop: element.offset().top }, {duration: 100 } );
        }
      }
    });
  }, 100);
  
</script>

<script>
                function gogogo() {
                  FB.ui({
                    method: 'feed',
                    link: 'http://palentinesday.com',
                    picture: 'https://palentinesday.com/images/cards/bro_lrg.jpg',
                    name: 'St. Palentine\'s Day is August 14th',
                    caption: 'To the dude who\'s always riding shotgun in my heart, Happy Palentine\'s Day!',
                    description: 'Share this with your best pals.'
                  });
                };
                function gogogo1() {
                  FB.ui({
                    method: 'feed',
                    link: 'http://palentinesday.com',
                    picture: 'https://palentinesday.com/images/cards/lanparty_lrg.jpg',
                    name: 'St. Palentine\'s Day is August 14th',
                    caption: 'Happy Palentine\'s Day to the bro who never gives me connection errors!',
                    description: 'Share this with your best pals.'
                  });
                };
                function gogogo2() {
                  FB.ui({
                    method: 'feed',
                    link: 'http://palentinesday.com',
                    picture: 'https://palentinesday.com/images/cards/dyno_lrg.jpg',
                    name: 'St. Palentine\'s Day is August 14th',
                    caption: 'To my only pal awesome/foolish enough to pack a wooden boat full of explosives and venture out into the middle of a large body of water, Happy Palentine\'s Day!',
                    description: 'Share this with your best pals.'
                  });
                };
                function gogogo3() {
                  FB.ui({
                    method: 'feed',
                    link: 'http://palentinesday.com',
                    picture: 'https://palentinesday.com/images/cards/norton_lrg.jpg',
                    name: 'St. Palentine\'s Day is August 14th',
                    caption: 'Spreading Palentine\'s Day cheer to the only dude who promises to always hit me back!',
                    description: 'Share this with your best pals.'
                  });
                };
                  
                function gogogo4() {
                  FB.ui({
                    method: 'feed',
                    link: 'http://palentinesday.com',
                    picture: 'https://palentinesday.com/images/cards/tattoo_lrg.jpg',
                    name: 'St. Palentine\'s Day is August 14th',
                    caption: 'If I had to get a terrible matching face tattoo that got me fired from my job and prompted a sickening regret for the rest of my life, I\'d want to share that regret with you, pal. Happy Palentine\'s Day!',
                    description: 'Share this with your best pals.'
                  });
                };
              
                function gogogo5() {
                  FB.ui({
                    method: 'feed',
                    link: 'http://palentinesday.com',
                    picture: 'https://palentinesday.com/images/cards/tandem_lrg.jpg',
                    name: 'St. Palentine\'s Day is August 14th',
                    caption: 'Wanna speed down a mountain together at bone-breaking speed on basically an aluminum teeter-totter with wheels? Great, I\'ll grab my helmet. Happy Palentine\'s Day!',
                    description: 'Share this with your best pals.'
                  });
                };
                  
                </script>



  </ion-content>
</ion-view>

