<ion-view title="ProspectWise" hide-back-button="true" style="background-color:#6ebde7;">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon ion-navicon-round"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
  <div class="list card">

  <div class="item item-avatar" style="border:none !important">
    <img src="img/jake-head-sl.jpg">
    <h2>Jake Liu</h2>
    <p>CEO Bitch</p>
  </div>

  <div class="item item-body" style="border:none !important">
    <img class="full-image" src="img/jake-head.jpg">
    <p>
      Jake, you should put your profile here and perhaps write a couple blog articles to show that you are thought leaders. I want you guys to come off as the #1 prospecting team in the World. Eventually, I'll know you'll upsell qualification services and move up the funnel. 
    </p>
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left" style="border:none !important;background-color:#eee">
    <a class="tab-item" href="#">
      <i class="icon ion-social-linkedin icon-colored"></i>
      LinkedIn
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-social-twitter icon-colored"></i>
      Twitter
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-at icon-colored"></i>
      Contact
    </a>
  </div>

</div>


<div class="list card">

  <div class="item item-avatar" style="border:none !important">
    <img src="img/head-geoffrey-sl.jpg">
    <h2>Geoffrey</h2>
    <p>VP of Shit</p>
  </div>

  <div class="item item-body" style="border:none !important">
    <img class="full-image" src="img/head-geoffrey.jpg">
    <p>
      I sell shit. 
    </p>
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left" style="border:none !important;background-color:#eee">
    <a class="tab-item" href="#">
      <i class="icon ion-social-linkedin icon-colored"></i>
      LinkedIn
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-social-twitter icon-colored"></i>
      Twitter
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-at icon-colored"></i>
      Contact
    </a>
  </div>

</div>


<div class="list card">

  <div class="item item-avatar" style="border:none !important">
    <img src="img/head-joel-sl.jpg">
    <h2>Joel Clay</h2>
    <p>Runnin this Shit</p>
  </div>

  <div class="item item-body" style="border:none !important">
    <img class="full-image" src="img/head-joel.jpg">
    <p>
      I build shit.
    </p>
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left" style="border:none !important;background-color:#eee">
    <a class="tab-item" href="#">
      <i class="icon ion-social-linkedin icon-colored"></i>
      LinkedIn
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-social-twitter icon-colored"></i>
      Twitter
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-at icon-colored"></i>
      Contact
    </a>
  </div>

</div>
<br /><br /><br />
    </ion-content>
</ion-view>